# PostgreSQL
DATABASE_URL=jdbc:postgresql://localhost:5433/saas_postgres
DATABASE_USERNAME=saas_user
DATABASE_PASSWORD=change-me

# Keycloak / OpenID Connect
KEYCLOAK_CLIENT_ID=oauth2-authorization-flow
KEYCLOAK_CLIENT_SECRET=change-me
KEYCLOAK_ISSUER_URI=http://127.0.0.1:8443/realms/oauth2-demos

# Application redirects
APP_SECURITY_LOGIN_SUCCESS_REDIRECT_URI=http://localhost:4200/dashboard
APP_SECURITY_POST_LOGOUT_REDIRECT_URI=http://localhost:4200/login?logout
